@model IEnumerable<KvieskTaxa.Database.Models.Review>
@{
    ViewBag.Title = "Atsiliepimai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Atsiliepimai</h2>

<table class="table">
    <tr>
        <th>
            Klientas
        </th>
        <th>
            Vairuotojas
        </th>
        <th>
            Atsiliepimas
        </th>
        <th>
            Vertinimas
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.User.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
    </tr>
}

</table>
