@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Adminnistratoriaus panele</h2>
<ul>
    <li>@Html.ActionLink("Atsiliepimai", "getReviews", "Administrator")</li>
    <li>@Html.ActionLink("Tarifai", "GetTariffs", "Administrator")</li>
</ul>